<!DOCTYPE HTML>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
  <title>Listen to what Bebe Listens to: Home</title>
</head>
<body>
<div id="songlist">
  <h3>List of Bebe's Favorite Songs:</h3>
  <table class="list">
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Language</th>
    </tr>
    <% song_data.each do |song| %>
      <tr>
        <td class="main"><%= song[:title] %></td>
        <td class="main"><%= song[:artist] %></td>
        <td class="main"><%= song[:album] %></td>
        <td class="main"><%= song[:language] %></td>
        <td class="small">
          <form action='/home/<%= song[:id] %>' method="get">
            <input class="small" type="submit" value="Edit Song">
          </form>
        </td>
        <% if !song[:youtube].nil? %>
          <td class="small">
            <form action="#youtube<%= song[:id] %>" method="get">
              <input class="small" type="submit" value="Listen">
            </form>

            <div id="youtube<%=song[:id]%>" class="modalDialog">
              <div>
                <a href="#close" title="Close" class="close">[X]</a>
                <iframe width="420" height="345"
                        src="<%= song[:youtube] %>" frameborder="0" allowfullscreen>
                </iframe>
              </div>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <form action="/add_song" method="get">
    <input type="submit" value="Add to List">
  </form>
</div>
</body>
</html>