<!DOCTYPE HTML>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
  <link href="<%= url('css/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
  <title>New Song Form</title>
</head>
<body>
<div class="songlist">
  <form action="/add_song" method="post">
    <div class="form">
      <table>
        <tr>
          <td>Title:</td>
          <td><input type="text" name="title" placeholder="Title of Song" value="<%= title %>"></td>
        </tr>
        <tr>
          <td>Artist:</td>
          <td><input type="text" name="artist" placeholder="Artist of Song" value="<%= artist %>"></td>
        </tr>
        <tr>
          <td>Album:</td>
          <td><input type="text" name="album" placeholder="Album of Song" value="<%= album %>"></td>
        </tr>
        <tr>
          <td>Language:</td>
          <td><input type="text" name="language" placeholder="Language the song is in" value="<%= language %>"></td>
        </tr>
        <tr>
          <td>Youtube:</td>
          <td><input type="text" name="youtube" placeholder="Link to Youtube" value="<%= youtube %>"></td>
        </tr>
      </table>
      <p class="error_message"><%=  session[:you_error] %></p>
      <% session.delete(:you_error) %>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>